body {       
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(5, 15, 21);
    max-width: auto;
    color: black;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    text-align: center; /* Centra el texto horizontalmente */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;    
    color: red;
    
}

h2 {
    margin: 20px 0; /* Espaciado vertical */
    color: red;
}
p {
    margin: 20px auto;
    max-width: 1200px; /* Opcional: limita el ancho del párrafo */
}
/* Bordes de los div para que no ocupen la pantalla*/
.demo-container {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
/* bordes de la imagen*/
img {
    border-radius: 20px;
    }
/* pie de pagina*/
footer {
    background-color: aliceblue;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    }

       /* Un poco de CSS para que el botón se vea mejor */

        #miBoton {

            padding: 10px 20px;

            font-size: 18px;

            cursor: pointer;

            border: none;

            border-radius: 5px;

            background-color: #007bff; /* Color inicial azul */

            color: white;

            transition: background-color 0.3s ease; /* Transición suave para el cambio de color */

        }



        #miBoton:hover {

            opacity: 0.9;

        }



        button {

    background-color: #4CAF50; /* Un verde vibrante */

    color: white; /* Texto blanco */

    padding: 10px 20px; /* Espaciado interno */

    border: none; /* Sin borde */

    border-radius: 5px; /* Esquinas redondeadas */

    cursor: pointer; /* Cambia el cursor al pasar por encima */

    font-size: 16px; /* Tamaño de fuente */

    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */

    margin-top: 10px; /* Espacio superior para separarlos del contenido */

}



button:hover {

    background-color: #45a049; /* Un verde un poco más oscuro al pasar el ratón */

}



button:active {

    background-color: #3e8e41; /* Un verde aún más oscuro al hacer clic */

}





.ejemplo-js {

    margin-top: 35px; /* Espacio superior para separar cada ejemplo */

    padding-bottom: 25px; /* Espacio en la parte inferior de cada ejemplo */

    border-bottom: 1px dashed #ddd; /* Una línea punteada para separar visualmente */

    padding-top: 5px; /* Pequeño padding superior para que la línea no esté pegada al cont
